# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
*.env

# IDE
.vscode/
.idea/

# Compiled files
*.exe
*.dll
*.so
*.pyd

# Logs and databases
*.log
*.sqlite3
*.db

# Miscellaneous
.DS_Store
Thumbs.db

# Models PTH
Models/
*.pth